@model Campaigns.Models.Sessions.SessionViewModel

@{
    ViewBag.Title = "Join Session";
}

@*
    TODO:
     - dice
    CHAT TODO:
     - per-client colours
     - /w target whisper to someone
 *@

<div ng-app="app" ng-controller="SessionsCtrl" class="container">

    <h2>@(Model.Name ?? "Unnamed session") <small ng-cloak>({{sessionUserCount}} members)</small></h2>

    <div class="alert alert-info" ng-hide="isConnected">
        Connecting to chat hub...
    </div>

    <div class="row">
        <div class="col-md-4">
            <div ng-show="editingSender">
                <form ng-submit="updateSender()">
                    <input ng-model="newSender" placeholder="Your Handle" ng-esc="cancelEditSender()" />
                    <a href="" ng-click="cancelEditSender()">
                        <small><span class="glyphicon glyphicon-remove"></span></small>
                    </a>
                </form>
            </div>
            <div ng-hide="editingSender" ng-cloak>
                <div ng-dblclick="editSender()">{{sender || "Anonymous"}}</div>
                <a href="" ng-click="editSender()">
                    <small><span class="glyphicon glyphicon-pencil hovericon"></span></small>
                </a>
            </div>
        </div>
        <div class="col-md-8">
            @*<div class="summary alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    test alert message
                </div>*@
            <div style="padding-bottom: 20px">
                <form class="form-inline" ng-submit="sendMessage()">
                    <div class="input-group input-group-lg" ng-cloak>
                        <input type="text" ng-model="outgoingMessage" class="form-control" name="message" placeholder="New message or dice formula"></input>
                        {{isOutgoingMessageRollFormula()}}
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="editRollFormula()">Dice...</button>
                        </span>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">{{outgoingMessageIsRollFormula() ? 'Roll' : 'Send'}}</button>
                        </span>
                    </div>
                </form>
                <div ng-show="isEditingRollFormula" ng-cloak class="animate-show">
                    <h4>Select Your Dice</h4>
                    <table class="table table-hover">
                        @foreach (var die in new [] {"d4", "d6", "d8", "d12", "d20", "d100"}) {
                            <tr>
                                @foreach (var n in new [] { 1, 2, 3, 4, 5 }) {
                                <td ng-click="addDieToFormula('@die', @n)">
                                    @(n)@(die)
                                </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div ng-cloak>
                <div ng-repeat="message in messages" class="panel panel-default" ng-class="{'panel-success' : message.isMyMessage}">
                    <div class="panel-heading">
                        <strong>{{message.senderName}}</strong> <small class="text-muted">{{formatDate(message.timeStamp)}}</small>
                    </div>
                    <div class="panel-body" ng-bind-html="message.text | sanitize"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
    @Scripts.Render("~/SignalR/hubs")
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/sessions/app.js")

    <script>
        angular.module("app").value("sessionId", '@Model.Id');
    </script>
}
