@model Campaigns.Models.CharacterSheet.ViewEditCharacterViewModel
@using Campaigns.Helpers

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CharacterSheet</h4>
        <hr />
        @Html.ValidationSummary(true, "", Html.CustomValidationAttributes())
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Description.Name, Html.CustomLabelAttributes())
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description.Name, Html.CustomEditorAttributes())
                @Html.ValidationMessageFor(model => model.Description.Name, "", Html.CustomValidationAttributes())
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description.Text, Html.CustomLabelAttributes())
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description.Text, Html.CustomEditorAttributes())
                @Html.ValidationMessageFor(model => model.Description.Text, "", Html.CustomValidationAttributes())
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Xp, Html.CustomLabelAttributes())
            <div class="col-md-10">
                @Html.EditorFor(model => model.Xp, Html.CustomEditorAttributes())
                @Html.ValidationMessageFor(model => model.Xp, "", Html.CustomValidationAttributes())
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Level, Html.CustomLabelAttributes())
            <div class="col-md-10">
                @Html.EditorFor(model => model.Level, Html.CustomEditorAttributes())
                @Html.ValidationMessageFor(model => model.Level, "", Html.CustomValidationAttributes())
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DerivedStatistics.ProficiencyBonus, Html.CustomLabelAttributes())
            <div class="col-md-10">
                @Html.EditorFor(model => model.DerivedStatistics.ProficiencyBonus, Html.CustomEditorAttributes())
                @Html.ValidationMessageFor(model => model.DerivedStatistics.ProficiencyBonus, "", Html.CustomValidationAttributes())
            </div>
        </div>

        @for (var i = 0; i < Model.AbilityAllocations.Count(); i++)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.AbilityAllocations[i].Points, Model.AbilityAllocations[i].Ability.ShortName, Html.CustomLabelAttributes())
                <div class="col-md-10">
                    @Html.Hidden("AbilityAllocations[" + i + "].AbilityId", Model.AbilityAllocations[i].Ability.Id)
                    @Html.EditorFor(m => m.AbilityAllocations[i].Points, Html.CustomEditorAttributes())
                    @Html.ValidationMessageFor(m => m.AbilityAllocations[i].Points, "", Html.CustomValidationAttributes())
                </div>
            </div>
        }

        @for (var i = 0; i < Model.SkillAllocations.Count(); i++)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.SkillAllocations[i].Points, Model.SkillAllocations[i].Skill.Name, Html.CustomLabelAttributes())
                <div class="col-md-10">
                    @Html.Hidden("SkillAllocations[" + i + "].SkillId", Model.SkillAllocations[i].Skill.Id)
                    @Html.EditorFor(m => m.SkillAllocations[i].Points, Html.CustomEditorAttributes())
                    @Html.ValidationMessageFor(m => m.SkillAllocations[i].Points, "", Html.CustomValidationAttributes())
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
