<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gamer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
            /* jQuery modals cause background to jump left due to scrollbar disappearing */
            body.modal-open {
                margin-right: 0 !important;
                padding-right:inherit !important;
            }

            [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}

            div.muted {
                background-color: #f5f5f5;
                color: #999999;
            }

            div.selected {
                color: #6fa646;
            }
            div.selected,
            .table-hover > tbody > tr > td.selected,
            .table-hover > tbody > tr > th.selected,
            .table-hover > tbody > tr.selected > td {
                background-color: #dff0d8;
                border-color: #d6e9c6;
            }
            .table-hover > tbody > tr > td.selected:hover,
            .table-hover > tbody > tr > th.selected:hover,
            .table-hover > tbody > tr.selected:hover > td {
                background-color: #d0e9c6;
                border-color: #c9e2b3;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Campaigns", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sessions", "Index", "Sessions")</li>
                    <li>@Html.ActionLink("Character Sheets", "Index", "CharacterSheets")</li>
                    @RenderSection("navlinks", required: false)
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="http://seshbot.com">Seshbot</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
